#charInfo{
    background-image: url("../assets/fiche.png");
    border: 1px solid black;
}

#map {
    background-image: url("../assets/map.png");
    border: 1px solid black;
}

body{
    background-color: ghostwhite;
}